/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

tr.bz_bugitem:hover {
    background-color: #293b74;
}

.bz_enhancement.bz_row_odd {
    background-color: #222934;
}

.bz_enhancement { 
    color: #fff; 
    background-color: #12161e; 
}

#summary_field {
    background-color: #323945;
}

#queryform input {
    background-color: #1c202a;
    color: white;
}

.component_description {
    color: #acacac;
}
